#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body{
  font-size: 40px
}

div{
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

